<form action="/restaurants" method="post">
  <div>
    Name: <input name="restaurant[name]" />
  </div>
  <div>
    Address: <input name="restaurant[address]" />
  </div>
  <input type="submit" value="Submit" />
</form>